* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10%;
}

@keyframes slide1 {
  0% {
    transform: translateX(-100em);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideback {
  0% {
    transform: none;
    opacity: 0;
  }

  100% {
    transform: translateX(-100em);
    opacity: 1;
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(100em);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide1 {
  0% {
    transform: translateX(-100em);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide3 {
  0% {
    transform: translateY(-100em);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    transform: none;
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes clicked {
  0% {
    transform: scale(.9);
  }
}

body {
  font-family: Arial, helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(240, 240, 240), white);
}

form {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form,
.person-wrapper,
.color-wrapper,
.userpanel {
  box-shadow: 
  0px 0px 2px rgb(231, 231, 231),
  -1px 1px 5px rgb(214, 214, 214),
  -1px 1px 10px rgb(214, 214, 214),
  -1px 1px 20px rgb(209, 209, 209);
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.822),rgba(248, 248, 248, 0.5), rgba(255, 255, 255, 0.815));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  box-shadow: 
  0px 0px 3px rgb(211, 211, 211),
  0px 0px 5px rgb(216, 216, 216);
  background: rgb(255, 255, 255);
}

.dialog {
  width: 40%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  color:inherit;
  display: none;
}

.dialog button {
  display: block;
  border-radius: 0px;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  margin: 0;
}

.dialog h1 {
  font-size: 1.3rem;
  text-align: center;
}

.dialog p {
  margin: 10px 0px;
  text-align: center;
}

button {
  background: linear-gradient(to bottom right, #505050, #000000ef, #474747);
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  display: block;
  cursor: pointer;
}

.sbtn, .lbtn {
  box-shadow: -1px 1px 5px rgb(136, 136, 136);
}

h2 {
  display: block;
  margin: 20px 0px;
}

ul {
  width: 100%;
  height: auto;
}

span {
  font-weight: 500;
}

form input {
  margin: 10px 0px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 0px 10px 10px;
  width: 80%;
}

.password-wrapper {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-wrapper .password {
  width: 100%;
}

.password-eye {
  margin: 0;
  display: block;
  padding: 5px;
  width: 20px;
  height: 20px;
  right: 10px;
  position: absolute;
  background: url(eye-c-b.png) no-repeat center;
  background-size: cover;
  
}

.eye-opened {
  background: url(eye-o-b.PNG) no-repeat center;
  background-size: cover;
}

.userpanel {
  width: 80%;
  padding: 20px;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}

.userpanel ul li {
  margin: 20px 0px;
  font-weight: 600;
  width: inherit;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .user {
  text-transform: capitalize;
}

.userpanel ul li span {
  text-transform: capitalize;
}

.userpanel ul li:nth-child(5) span,
.userpanel ul li:nth-child(7) span {
  text-transform: none;
}

.btn-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.btn-wrapper > button {
  margin: 0px 10px;
}

.delete-promt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  z-index: 1;
  display: none;
}

.delete-promt h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.delete-promt p {
  margin-bottom: 20px;
}

.edit-modal {
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
  display: none;
}

.edit-modal h2 {
  font-size: 1.7rem;
}

.edit-modal input {
  padding: 10px 0px 10px 10px;
  border-radius: 0px 10px 10px 0px;
  width: 50%;
}

.edit-modal ul li:nth-child(7) {
  display: flex;
  align-items: center;
}

.edit-modal ul li .password-wrapper{
  width: 50%;
}

.delete-account,
.confirm-delete,
.save {
  background: linear-gradient(to bottom right, #ff1b1b, #d11111);
}

.ao,
.no {
  background: transparent;
  color: black;
  border-radius: 0px;
  text-decoration: underline;
  font-weight: 400;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4 {
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.wrapper2 .topheader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px 0px;
}

.person-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: #ffffff;
  padding: 10px;
}
.wrapper2 .topheader .person-wrapper .num{
  position: absolute;
  font-weight: 600;
  top: -5px;
  background: rgba(255, 0, 0, 0.99);
  display: block;
  padding: 2px 6px;
  border-radius: 10px;
  right: 0;
}
.wrapper2 .topheader .person-icon {
  background: url(person-black.png) no-repeat center;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
}
.wrapper2 {
  flex-direction: column;
  filter: blur(9);
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
  transition: .5s ease-in-out;
  padding: 2px 15px;
  border-radius: 50px;
  margin-left: 20px;
}

.color-wrapper {
  background: rgba(0, 0, 0, 0.384);
}

.color-wrapper > button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translateX(-12px);
  background: white;
}

.color-wrapper .color {
  transform: translateX(12px);
  background: linear-gradient(to bottom right, rgb(119, 119, 119),black, rgb(114, 114, 114));
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.account-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: auto;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.account-modal, .account-body, .dialog, .vloading {
  background: linear-gradient(to bottom right, rgba(51, 51, 51, 0.808),rgba(17, 17, 17, 0.897), rgba(24, 24, 24, 0.849));
  box-shadow: 
  0px 0px 4px rgb(128, 128, 128);
  color: white;
}

.account-modal .account-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  font-size: 14px;
}
.account-modal .account-header h2 {
  display: block;
  color: inherit;
}
.account-modal .account-header .ca {
  display: block;
  padding: 0px;
  background: transparent;
  font-size: 2em;
  color: inherit;
}
.account-modal .account-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.account-body {
  border-radius: 5px;
  padding: 10px;
  color: inherit;
  background: rgba(0, 0, 0, 0.274);
}
.account-modal .account-container .account-body h3 {
  font-size: 1.1rem;
}

.forgot {
  border-radius: 0px;
  background: transparent;
  color: #000000;
  padding: 0px;
  margin: 5px 0px 20px;
  width: 80%;
  text-align: left;
  padding-left: 5px;
  font-weight: 400;
}

.step1,
.step2,
.step3 {
  display: none;
}
.step1 ul li,
.step2 ul li,
.step3 ul li {
  text-align: center;
  font-weight: 400;
  padding: 15px 10px 5px;
  line-height: 1.3;
}

.vloading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  display: none;
}
.vc {
  margin-bottom: 20px;
  display: none;
}
.vloading h4 {
  margin-bottom: 10px;
}
.vloading h4,
.vloading h5 {
  font-size: 1.5rem;
  color: inherit;
}
.vloading p {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  display: none;
  color: inherit;
}
.vloading .a0 {
  font-weight: 400;
  margin: 5px;
  color: inherit;
}

.a {
  animation: slide1 .5s ease-in-out 1;
  display: flex;
}

.b {
  animation: slide2 .5s ease-in-out 1;
  display: flex;
}

.c {
  animation: slide3 .5s ease-in-out 1;
  display: flex;
}

.aa {
  animation: slide1 .5s ease-in-out 1;
  display: block;
}

.bb {
  animation: slideback .5s ease-in-out 1;
  display: flex;
  position: fixed;
}

.d {
  display: flex;
}

.x {
  animation: vanish .3s ease-in-out 1;
}

.i {
  border: 1px solid #70fd70;
  box-shadow: -1px 1px 5px #7fff7f;
}

.r {
  border: 1px solid #fd7070;
  box-shadow: -1px 1px 5px #ff7f7f;
}

.o {
  border: 1px solid #ff903f;
  box-shadow: -1px 1px 5px #ffbb89;
}

.clicked {
  animation: clicked .15s ease-in-out 1;
}

.padding {
  padding: 0px 20px;
}

.margin {
  margin-right: 15px;
}

/** Dark Theme Section **/

.colorsTrans {
  transition: .2s ease-in-out;
}

.bodyB {
  background: rgb(12, 12, 12);
  color: #ffffff;
}

.bgB {
  background: black;
}

.textC {
  color: #ffffff;
}

.glow {
  box-shadow: 
  0px 0px 2px #ffffff,
  0px 0px 5px #1b1b1b;
  background: linear-gradient(to bottom right, rgb(27, 27, 27),rgb(10, 10, 10),rgb(26, 26, 26));
}

.glow.person-wrapper .person-icon {
  background: url(person-white.png) no-repeat center;
  background-size: contain;
}

.glow.color-wrapper {
  background: rgb(233, 233, 233);
}

.glow ::placeholder {
  color: rgb(180, 180, 180);
}

.glow input {
  background: rgba(0, 0, 0, 0.685);
}

.btn-glow {
  background: linear-gradient(to bottom right, rgb(26, 26, 26),black, rgb(24, 24, 24));
  box-shadow: 
  0px 0px 1px rgb(58, 58, 58),
  0px 0px 5px rgb(56, 56, 56);
}

.btn-glow.confirm-delete,
.btn-glow.delete-account{
  background: linear-gradient(to bottom right, rgb(255, 107, 107) ,red, rgb(255, 24, 24));
  box-shadow: 0px 0px 5px rgb(129, 66, 66);
}
.btn-glow.save {
  background: linear-gradient(to bottom right, rgb(61, 236, 61),rgb(0, 119, 0));
  box-shadow: 0px 0px 5px rgb(15, 131, 0);
}

.bgo {
  background: rgba(0, 0, 0, 0.87);
}

.eyeB .eye-opened {
  background: url(eye-o-w.png) no-repeat center;
  background-size: contain;
}

.eyeB {
  background: url(eye-c-w.png) no-repeat center;
  background-size: contain;
}


/**** Media Queries ****/

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1180px) {}

@media screen and (max-width: 1138px) {}

@media screen and (max-width: 1024px) {
  .wrapper1 form {
    width: 45%;
  }
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 926px) {

  .wrapper1,
  .wrapper3 {
    overflow: auto;
  }

  .wrapper1 form,
  .wrapper3 .userpanel {
    margin: 60px 0px;
  }
}

@media screen and (max-width: 915px) {}

@media screen and (max-width: 914px) {}

@media screen and (max-width: 912px) {
  .wrapper1 form {
    width: 47%;
  }
}

@media screen and (max-width: 896px) {}

@media screen and (max-width: 854px) {}

@media screen and (max-width: 851px) {}

@media screen and (max-width: 846px) {}

@media screen and (max-width: 844px) {}

@media screen and (max-width: 823px) {}

@media screen and (max-width: 820px) {
  .dialog {
    width: 70%;
  }

  .wrapper1 form {
    width: 57%;
  }

  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 45%;
  }
}

@media screen and (max-width: 812px) {}

@media screen and (max-width: 800px) {
  .wrapper1 form {
    width: 57%;
  }

  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 45%;
  }
}

@media screen and (max-width: 786px) {}

@media screen and (max-width: 745px) {}

@media screen and (max-width: 740px) {}

@media screen and (max-width: 736px) {}

@media screen and (max-width: 732px) {}

@media screen and (max-width: 731px) {}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 712px) {
  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 46%;
  }
}

@media screen and (max-width: 667px) {}

@media screen and (max-width: 658px) {}

@media screen and (max-width: 653px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 600px) {
  .wrapper1 form {
    width: 70%;
  }

  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 55%;
  }

  .wrapper3 .userpanel {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {}

@media screen and (max-width: 533px) {}

@media screen and (max-width: 480px) {
  .dialog {
    width: 90%;
  }

  .wrapper1 form,
  .step1,
  .step2,
  .step3,
  .account-modal {
    width: 80%;
  }

  .wrapper2 form {
    width: 70%;
  }
  .vloading-w {
    width: 95%;
  }
}

@media screen and (max-width: 428px) {
  .dialog {
    width: 95%;
  }

  .wrapper1 form,
  .step1,
  .step2,
  .step3 {
    width: 95%;
  }

  .wrapper2 form {
    width: 75%;
  }

  .wrapper3 .userpanel .header {
    display: block;
    text-align: center;
  }

  .wrapper3 .userpanel .header .logout {
    margin: 10px auto;
  }
}

@media screen and (max-width: 414px) {
  .edit-modal {
    padding: 10px 0px;
  }

  .edit-modal h2 {
    text-align: center;
  }

  .edit-modal ul li {
    padding: 0px 10px;
  }

  .edit-modal ul li input {
    width: 100%;
  }
  .edit-modal ul li:nth-child(7) {
    display: block;
    width: inherit;
  }
  .edit-modal ul li:nth-child(7) .password-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .edit-modal {
    padding: 10px 0px;
  }

  .edit-modal h2 {
    text-align: center;
  }

  .edit-modal ul li {
    padding: 0px 10px;
  }

  .edit-modal ul li input {
    width: 100%;
  }
}

@media screen and (max-width: 393px) {
  .password-wrapper {
    width: inherit;
  }
  form input {
    width: inherit;
  }
  
  .wrapper3 .userpanel .btn-wrapper > button {
    margin: 5px;
  }
}

@media screen and (max-width: 384px) {
  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 85%;
  }

  .wrapper2 form input {
    width: 87%;
  }
}

@media screen and (max-width: 375px) {
  .wrapper2 form,
  .step1,
  .step2,
  .step3 {
    width: 90%;
  }

  .wrapper2 form input {
    width: 90%;
  }
}

@media screen and (max-width: 353px) {
  .wrapper3 .userpanel .header {
    margin-bottom: 35px;
  }

  .wrapper3 .btn-wrapper {
    margin-top: 20px;
  }

  .wrapper3 .userpanel .btn-wrapper > button {
    margin: 7px 0px;
  }

  .edit-modal h2 {
    margin-bottom: 30px;
  }

  .edit-modal .btn-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .wrapper2 {
    overflow: auto;
  }

  .wrapper1 form input {
    width: 100%;
  }

  .wrapper3 .userpanel {
    width: 95%;
    padding: 30px 5px 0px;
  }

  .wrapper3 .userpanel .btn-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 280px) {

  .wrapper1 form,
  .wrapper2 form,
  .wrapper3 .userpanel,
  .step1,
  .step2,
  .step3 {
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
  }

  .wrapper3 .userpanel li {
    padding: 0px 0px 0px 10px;
  }

  .wrapper1 form input,
  .wrapper2 form input {
    border-radius: 0px;
    padding: 15px 0px 15px 10px;
    margin: 5px 0px;
    width: 100%;
  }

  .wrapper1 form .check-style,
  .wrapper2 form .check-style {
    margin: 20px 0px 5px;
  }

  .wrapper1 form .sbtn,
  .wrapper2 form .lbtn {
    width: 90%;
    padding: 10px;
  }

  .edit-modal {
    padding: 0px;
    margin: 0px;
  }

  .wrapper3 .edit-modal ul li {
    padding: 0px;
    display: block;
    text-align: center;
  }

  .wrapper3 .edit-modal ul li input {
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }
}

@media screen and (max-width: 240px) {

  .wrapper1 h2,
  .wrapper2 h2,
  .edit-modal h2 {
    margin: 0;
  }

  .wrapper1 form input,
  .wrapper2 form input {
    padding: 12px;
  }

  .wrapper3 .userpanel .header {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0px 0px 30px;
  }

  .wrapper3 .userpanel .header .logout {
    margin: 0px 0px 25px;
  }

  .wrapper3 .userpanel ul li {
    padding: 0px 0px 0px 5px;
  }

  .wrapper3 .edit-modal ul li {
    padding: 0px;
  }

  .edit-modal h2 {
    font-size: 1.4rem;
  }

  .edit-modal ul li input {
    border-radius: 0px;
  }
}

/** I stopped at 353 **/
